:root {
    --bg-main: #f0f2f5;
    --bg-body: #fff;
    --color-txt: #000;
    --filled-color: #000;
    --filled-bg: #caf0f8;

    --white: #fff;
    --blue: #3a92c2;
    --red: #520303;
    --black: #000;

    --nav-size: 70px;
    --sudoku-cell-size: 50px;

    --border-radius: 10px;

    --space-y: 20px;

    --gap: 5px;
    --base: 0.6rem;
    --font-size: 1.8rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;
}

.dark {
    --bg-main: #b8b4b4;
    --bg-body: #1c1e21;
    --color-txt: #822121;
    --filled-color: #d3dbdb;
    --filled-bg: #524c4c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rampart One', cursive ;
    background-color: var(--bg-body);
    overflow-x: hidden;
    user-select: none;
}

input {
    font-family: 'Lilita One', cursive;
    letter-spacing: .2rem;
    border: 2px solid var(--bg-main);
    color: var(--color-txt);
}

input:hover,
input:focus {
    border-color: var(--blue);
}

a {
    text-decoration: none;
    color: unset;
    width: 100%;
}

.variety a {
    text-align: center;
}

ul {
    list-style-type: none;
}

nav {
    max-width: 100%;
    background-color: var(--bg-body);
    color: var(--color-txt);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px var(--blue);
    z-index: 99;
}

.nav-container {
    max-width: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
    padding: 0 80px;
    justify-content: space-between;
    height: var(--nav-size);
}

.nav-logo {
    width: auto;
    font-size: var(--font-size-lg);
    color: var(--blue);
}

.dark-mode-toggle {
    font-size: var(--font-size-lg);
    cursor: pointer;
}

.bxs-sun {
    display: none;
}

.bxs-moon {
    color: var(--blue);
    display: inline-block;
}

.dark .bxs-sun {
    color: yellow;
    display: inline-block;
}

.dark .bxs-moon {
    display: none;
}

.main {
    
    padding-top: var(--nav-size);
    display: grid;
    place-items: center;
}

.screen {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 200px;

}

.start-screen.active {
    transform: translateX(0);
}

.start-screen > * + * {
    margin-top: 20px;
}

#name-input {
    height: 80px;
    width: 280px;
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--bg-main);
    padding: 20px;
    font-size: var(--font-size-lg);
    text-align: center;
}

.button {
    position: relative;
    height: 80px;
    width: 280px;
    background-color: var(--bg-main);
    color: var(--color-txt);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease-in-out;
    font-size: var(--font-size-lg);
    cursor: pointer;
    overflow: hidden;
    gap: 28px;
}


.input-err {
    border-color: var(--red);
    animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mode {
    width: auto;
}

.chevron {
    position: absolute;
    width: calc(var(--base) * 3.5);
    height: calc(var(--base) * 0.8);
    opacity: 0;
    transform: scale(0.3);
}

.left-arrow {
    height: 100%;
    width: 10%;
    transform: rotate(90deg);
    left: 45px;
}

.right-arrow {
    height: 100%;
    width: 10%;
    transform: rotate(270deg) scaleX(-1);
    right: 45px;
}

.chevron:first-child{
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2){
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:nth-child(3){
    animation: move-chevron 3s ease-out infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: var(--blue);
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        transform: translateY(calc(var(--base) * 1.2));
    }

    66.6% {
        opacity: 1;
        transform: translateY(calc(var(--base) * 3.2));
    }

    100% {
        opacity: 0;
        transform: translateY(calc(var(--base) * 4.8)) scale(0.5);
    }
}



@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

.in-game-screen {
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px 30px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.in-game-screen.active {
    transform: translateX(0%);
}

.sudoku-grid {
    width: auto;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(9, auto);
}

.grid-cell {
    position: relative;
    height: var(--sudoku-cell-size);
    width: var(--sudoku-cell-size);
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--bg-main);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

.grid-cell.filled {
    background-color: var(--filled-bg);
    color: var(--filled-color);
}

.grid-cell.selected {
    background-color: var(--blue);
    color: var(--white);
}

.grid-cell:hover {
    border: 2px solid var(--blue);
}

.grid-cell.hover {
    border: 3px solid var(--blue);
} 

.dark .grid-cell.hover {
    border: 1px solid var(--blue);
}

.grid-cell.err {
    background-color: var(--red);
    color: var(--white);
}

/* This is for the blinking sudoku */
.blink {
    animation: 3s ease-in 0s blink-animation;
    -webkit-animation: 3s ease-in 0s blink-animation;
}

@keyframes blink-animation {
    12.5% {opacity: 0.75; background-color: yellow;}
    25% {opacity: 0.5; background-color: yellow;}
    37.5% {opacity: 0.25; background-color: yellow;}
    50% {opacity: 0; background-color: yellow;}
    62.5% {opacity: 0.25; background-color: yellow;}
    75% {opacity: 0.5; background-color: yellow;}
    87.5% {opacity: 0.75; background-color: yellow;}
    100% {opacity: 1; background-color: yellow;}
}

@-webkit-keyframes blink-animation {
    12.5% {opacity: 0.75; background-color: yellow;}
    25% {opacity: 0.5; background-color: yellow;}
    37.5% {opacity: 0.25; background-color: yellow;}
    50% {opacity: 0; background-color: yellow;}
    62.5% {opacity: 0.25; background-color: yellow;}
    75% {opacity: 0.5; background-color: yellow;}
    87.5% {opacity: 0.75; background-color: yellow;}
    100% {opacity: 1; background-color: yellow;}
}

/* End of blinking sudoku extra feature */


/*Extra styles for flooding sudoku*/
.flooded {
    animation: vanish 2s linear;
}

@keyframes vanish {
    25% {opacity: 0.75;}
    50% {opacity: 0.5;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}

.flooded::before {
    content: '';
    display: block;
    position: absolute;
    background: #165bc9;
    top: 110%;
    right: -50%;
    height: 200%;
    width: 200%;
    border-radius: 38%;
    transform: rotate(360deg);
    z-index: 1; 
    animation: wave 2s linear infinite;
}

@keyframes wave{
    100% {transform: rotate(720deg);}
    100% {top: -5%;}
}

/* End of flooding sudoku extra feature */




.in-game-change-mode,
.leaderboard {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-txt);
    gap: 0.6em;
    margin-top: 10px;
}


#variety-title {
    color: var(--blue);
}

.variety {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: var(--bg-main);
    color: var(--color-txt);
    border-radius: var(--border-radius);
    padding: 0 20px;
}

.current-game {
    background-color: var(--blue);
}

#record-holder-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    gap: 0px;
    font-size: 1.2rem;
    color: var(--blue);
}


.in-game-info {
    height: 300px;
    margin-top: var(--space-y);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.in-game-info-box {
    height: 85px;
    background-color: var(--bg-main);
    color: var(--color-txt);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    padding: 0 20px;
    font-size: var(--font-size);
}

.in-game-info-time {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    grid-column: 1/3;
}

#pause-button {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: var(--border-radius);
    background-color: var(--blue);
    color: var(--white);
    font-size: var(--font-size);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.numbers {
    margin-top: var(--space-y);
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.number {
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-main);
    color: var(--color-txt);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

#delete-button {
    background-color: var(--black);
    color: var(--white);
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

.pause-screen,
.result-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: var(--bg-body);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 200px;
    display: none;
}

.pause-screen.active,
.result-screen.active {
    display: flex;
}

.pause-screen > * + *,
.result-screen > * + * {
    margin-top: 20px;
}

.result-screen.active div {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pause-screen.active .button {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.result-screen .congratulate {
    font-size: var(--font-size-xl);
    color: var(--blue);
}

.result-screen .info {
    color: var(--blue);
    font-size: var(--font-size);
}

#result-time {
    color: var(--blue);
    font-size: var(--font-size-xl);
}

.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




@keyframes zoom-in {
    0% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }
    25% {
        transform: scale(2) rotate(30deg);
    }
    50% {
        transform: scale(2) rotate(-30deg);
    }
    100% {
        transform: scale(1);
    }
}


@media only screen and (max-width: 1020px) {
    :root {
        --nav-size: 50px;
        --sudoku-cell-size: 45px;
    }

    #name-input,
    .button {
        height: 50px;
    }

    .grid-cell.hover {
        border-width: 2px;
    }

    .screen {
        display: flex;
        width: 100%;
        height: auto; 
        justify-content: center;
    }

    .in-game-screen {
        grid-template-columns: auto;
        justify-content: center;
        height: auto;
        min-height: 100%;
        gap: 10px;
    }

    .sudoku-grid {
        grid-row: 1;
    }

}

@media only screen and (max-width: 990px) {
    :root {
        --nav-size: 40px;
        --sudoku-cell-size: 40px;
    }
}


@media only screen and (max-width: 900px) {
    :root {
        --sudoku-cell-size: 35px;

        --space-y: 15px;

        --gap: 7px;

        --font-size: 1.5rem;
    }

    .in-game-screen {
        padding: 30px 0px;
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 550px) {
    :root {
        --sudoku-cell-size: 30px;

        --space-y: 15px;

        --gap: 7px;

        --font-size: 1.2rem;
    }

}


























